APP_PORT=
CRON_SECRET=
NEXT_PUBLIC_LOCAL_DEV=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SENDER_EMAIL=
SMTP_SENDER_NAME=
SMTP_USER=
SUPABASE_SERVICE_ROLE_KEY=